
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="create" method="get">
    <input type="text" placeholder="key" name="key" />

    <input type="text" placeholder="value" name="value" />
    <input type="submit" value="create" />
</form>